<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>
 
<p>
  <strong>Middle Name:</strong>
  <%= @student.middle_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>
 
 <p>
  <strong>Contact:</strong>
  <%= @student.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>
<%= link_to 'Back', students_path %>
